@import 'section/main';
@import 'section/desc';
@import 'section/offers';
@import 'buttons';
@import 'section/directions';
@import 'section/blog';
@import 'section/photo-report';
* {
  img {
    object-fit: cover;
  }
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.title {
  color: #f2be22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
  margin-bottom: 10px;
}

.mini-title {
  color: #18121e;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
  margin-bottom: 40px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}
