@import "section/main";
@import "section/desc";
@import "section/offers";
@import "buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.content{
  max-width: 1200px;
  margin: 0 auto;
}


