.main {
  padding: 40px 16px 82px 16px;
  background: url("../image/mountain.png") no-repeat center/cover;
  height: 100vh;
}
.main__title {
  text-transform: uppercase;
  color: #fdfdfd;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 75px */
  letter-spacing: 2px;
  margin-bottom: 42px;
}
.main .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  list-style: none;
  display: flex;
  gap: 22px;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  cursor: pointer;
  color: #fdfdfd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  height: 161px;
}
.search__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}
.search__select {
  color: white;
  background-color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  padding: 0 16px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid var(--wl-primary-primary-300, #e1e3e4);
}
.search__button {
  cursor: pointer;
  border: none;
  display: flex;
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fdfdfd;
  margin-bottom: 30px;
  color: #1a3e3e;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.192px;
}

.description {
  display: flex;
  height: 100vh;
  padding: 100px 15px;
}
.description .content {
  display: flex;
  gap: 120px;
  justify-content: space-between;
  align-items: center;
}
.description__images {
  position: relative;
  min-height: 526px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.description__image-back {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.description__text {
  color: #18121e;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  margin-bottom: 40px;
}
.description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offers {
  background: #F3F5F4;
  display: flex;
  height: 100vh;
  padding: 100px 15px;
}
.offers .content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
.offers .offers__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 580px;
}
.offers .offers__text {
  color: #18121E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  margin-bottom: 40px;
}
.offers .offers__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.offers .offers__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.plus {
  display: flex;
  gap: 25px;
  align-items: center;
}
.plus__title {
  color: #18121E;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 111.111% */
  letter-spacing: 0.216px;
  margin-bottom: 10px;
}
.plus__text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #1A3E3E;
  display: flex;
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FDFDFD;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.192px;
  max-width: 250px;
}

.directions {
  display: flex;
  min-height: 900px;
  padding: 100px 15px;
}
.directions .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.directions__tours {
  margin: 50px 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.tour {
  position: relative;
  width: 100%;
  border-radius: 32px;
}
.tour__block {
  border-radius: 0 0 32px 32px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  padding: 20px 30px;
  bottom: 2px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tour__name {
  color: #fdfdfd;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
}
.tour__desc {
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
}
.tour__price {
  display: flex;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fdfdfd;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
}
.tour__stars {
  border-radius: 4px 0 0 4px;
  padding: 4px 8px;
  background: rgba(253, 253, 253, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  gap: 10px;
  top: 50px;
  right: 0;
  position: absolute;
}

.blog {
  background: #f3f5f4;
  display: flex;
  min-height: 1036px;
  padding: 100px 15px;
}
.blog .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.article-block {
  border-radius: 10px;
  background: #fdfdfd;
  display: flex;
  width: 580px;
  padding: 16px;
  align-items: center;
  gap: 24px;
  min-height: 312px;
}
.article-block__image {
  width: 230px;
  height: 280px;
  flex-shrink: 0;
}
.article-block__image img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-block__texts {
  min-height: 280px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.article-block__title {
  color: #18121e;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}
.article-block__desc {
  flex-grow: 1;
  color: #18121e;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
.article-block__bottom {
  display: flex;
  justify-content: space-between;
}
.article-block__link {
  cursor: pointer;
  color: #1a3e3e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}
.article-block__date {
  color: #f2be22;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}

.photo-report {
  display: flex;
  min-height: 1000px;
  padding: 100px 15px;
}
.photo-report .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-report__list {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 250px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "photographer photographer map dubai " " sea mountains mountains notepad";
}
.photo-report__list .photo-report__photographer {
  grid-area: photographer;
}
.photo-report__list .photo-report__map {
  grid-area: map;
}
.photo-report__list .photo-report__dubai {
  grid-area: dubai;
}
.photo-report__list .photo-report__mountains {
  grid-area: mountains;
}
.photo-report__list .photo-report__notepad {
  grid-area: notepad;
}
.photo-report__list .photo-report__sea {
  grid-area: sea;
}

.footer {
  min-height: 587px;
  background: #1a3e3e;
}
.footer .content {
  padding: 200px 0 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style-type: none;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.footer__list li {
  position: relative;
  padding-left: 20px;
}
.footer__list li::before {
  content: url("/image/arrow.svg");
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.footer__col-1 {
  display: flex;
  flex-direction: column;
  max-width: 456px;
}
.footer__title {
  color: #f3f5f4;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer__text {
  color: var(--white-color-100, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.footer__texts {
  margin-bottom: 80px;
}
.footer__contacts {
  margin-bottom: 35px;
  display: flex;
  gap: 25px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-decoration-line: underline;
}
.footer__social {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.email {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  padding: 40px 100px;
  position: absolute;
  top: -140px;
  width: 100%;
  border-radius: 6px;
  background: #fdfdfd;
  min-height: 196px;
  box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
}
.email__titles {
  max-width: 380px;
}
.email__button {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  height: 44px;
}
.email__text {
  color: #18121e;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.email__text span {
  text-decoration-line: underline;
}
.email__form {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: 10px;
}
.email__form label span {
  display: block;
  color: #18121e;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.email__form input {
  display: flex;
  width: 280px;
  height: 44px;
  padding: 0 16px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #f3f5f4;
  color: #18121e;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.company-information {
  background: #18121e;
  min-height: 66px;
  display: flex;
  align-items: center;
}
.company-information .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
* img {
  object-fit: cover;
}

.title {
  color: #f2be22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 83.333% */
  margin-bottom: 10px;
}

.mini-title {
  color: #18121e;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 38.4px */
  margin-bottom: 40px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
